{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Custom CSS styles */
    .sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 20px 0;
        background-color: #f8f9fa;
        position: relative;
        top: 0;
        height: 100%;
        padding-top: .5rem;
        margin-bottom: 20px;
    }

    .profile-pic {
        width: 150px;
        height: 100px;
        border-radius: 50%;
    }

    .nav-link {
        color: #333;
        font-weight: bold;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .active {
        font-weight: bold;
        background-color: #e9ecef; /* Light gray background for active link */
    }

    /* Custom CSS styles for orders page */
    .status-pending {
        color: #007bff;
        font-weight: bold;
    }
    .status-completed {
        color: #28a745;
        font-weight: bold;
    }
    .status-cancelled {
        color: #dc3545;
        font-weight: bold;
    }
    .total-amount {
        color: #ff5722;
        font-weight: bold;
    }
</style>

<div class="container mb-5">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block bg-light sidebar mt-5">
            <div class="profile text-center my-4">
                <img src="{% static 'images/profile.jpg' %}" alt="Profile Picture" class="profile-pic img-fluid rounded-circle mb-2">
                <h5>Hello, {{ user.first_name }}</h5>
            </div>
            <div class="sidebar">
                <ul class="nav flex-column">
                    {% url 'personal_information' as personal_information_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == personal_information_url %}active{% endif %}" href="{{ personal_information_url }}">
                            <i class="fa fa-user"></i>
                            Personal Information
                        </a>
                    </li>
                    {% url 'manage_address' as manage_address_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == manage_address_url %}active{% endif %}" href="{{ manage_address_url }}">
                            <i class="fa fa-map-marker"></i>
                            Manage Address
                        </a>
                    </li>
                    {% url 'my_orders' as my_orders_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == my_orders_url %}active{% endif %}" href="{{ my_orders_url }}">
                            <i class="fa fa-shopping-cart"></i>
                            My Orders
                        </a>
                    </li>
                    {% url 'wishlist' as wishlist_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == wishlist_url %}active{% endif %}" href="{{ wishlist_url }}">
                            <i class="fa fa-heart"></i>
                            Wishlist
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'my_wallet' as my_wallet_url %}
                        <a class="nav-link {% if request.path == my_wallet_url %}active{% endif %}" href="{{ my_wallet_url }}">
                            <i class="fa fa-wallet"></i>
                            My Wallet
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'referral' as referral_url %}
                        <a class="nav-link {% if request.path == referral_url %}active{% endif %}" href="{{ referral_url }}">
                            <i class="fa fa-share-alt"></i>
                            Referral
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-md-4 mt-5">
            {% block user_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
